.nav-product-wrapper {
  padding: 20px;
  h1 {
    font-weight: 400;
    font-size: 1.6rem;
    color: #777;
  }
}

.nav-product-option {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 1.6rem;
  }
  form {
    select {
      outline: none;
      border: 1px solid transparent;
      font-size: 1.6rem;
      color: #666666;
    }
  }
}

@media (max-width: 425) {
  .nav-product-option {
    flex-direction: column;
    align-items: self-start;
    p {
      font-size: 1.4rem;
    }
  }
}
