.nav-product-option {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 1.8rem;
  }
  form {
    select {
      outline: none;
      border: 1px solid transparent;
      font-size: 1.6rem;
      color: #666666;
      padding: 14px 32px;
    }
  }
}
